# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# Java compiled files
*.class

# Maven build files
/target/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Temp files
_temp/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
